/* 重置浏览器默认样式 */
*{
    padding: 0;
    margin: 0;
}
/* 设置body与html部分的宽度、高度、内外边距 */
body,html{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
/* 设置内容区的宽度、高度、外边距 */
.total{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
/* 设置导航区的宽度、高度、背景图片、背景大小、外边距 */
.nav{
    width: 1000px;
    height: 50px;
    background-image: url(../images/bg_01_2.png);
    background-size: 100% 100%;
    margin: 0 auto;
}
/* 设置logo部分的宽度、高度、左外边距、背景图片、背景大小、浮动 */
.logo{
    width: 68px;
    height: 48px;
    margin-left: 40px;
    background-image: url(../images/logo.png);
    background-size: 100% 100%;
    float: left;
}
/* 设置logo旁文字的样式 */
.my_name{
    float: left;
    font-size: 24px;
    line-height: 45px;
    color: #5d5de6;
    margin-left: 20px;
}
/* 设置导航栏导航内容的浮动和左外边距 */
.nav ul {
    float: left;
    margin-left: 100px;
}
/* 设置导航部分超链接的浮动 */
.nav ul a{
    float: left;
}
/* 设置导航部分导航文字内容部分的样式 */
.nav ul li{
    width: 100px;
    height: 45px;
    line-height: 45px;
    float: left;
    font-weight: bold;
    list-style: none;
    text-align: center;
    color: #292929;
}
/* 设置鼠标悬停效果 */
.nav ul li:hover{
    color: #4F94CD;
}
/* 导航栏下图片部分的样式 */
.banner{
    width: 1000px;
    height: 300px;
    background-image: url(../images/banner.png);
    background-size: 100% 100%;
}
/* 导航栏与图片部分留出空间 */
.line{
    height: 0;
    width: 1000px;
    border-top:4px solid #4d4db9;
}
/* 设置主要内容区的宽度、高度 */
.main{
    width: 1000px;
    height: 600px;
}

.active{
    color: #4F94CD !important;
}
/* 设置页脚区的宽度、高度、行高、背景颜色、文字对齐方式、外边距、颜色、字体大小 */
.footer{
    width: 1000px;
    height:60px;
    line-height: 60px;
    background-color: #292929;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
}